<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IWeatherMap</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon_io/site.webmanifest">
    <meta name="description" content="IWeatherMap">
    <meta name="keywords" content="HTML, CSS, JavaScript, VueJS">
    <meta name="author" content="Gustavo Fonseca - github.com/gustavo-fonseca">
    <link rel="stylesheet" href="assets/styles/main.css">
</head>

<body>
    <div id="focus-out" tabindex="0"></div>
    <div id="scroller">
        <section id="content">

            <!-- city input -->
            <div id="city-input-box">
                <input type="text" id="city-input" class="pulse" placeholder="City name" v-model="city.model" v-on:keyup="city_autocomplete_search" v-on:keyup.Enter="city_autocomplete_submit">

                <ul class="auto-complete-list" v-if="city.model_autocomplete.length">
                    <li v-for="(city_data, index) in city.model_autocomplete" v-on:click="city_autocomplete_select(index)" v-bind:class="{hover: index == city.model_autocomplete_hover}">{{ city_data.name }}, {{ city_data.country }}</li>
                </ul>
            </div>

            <!-- loading -->
            <div id="loading" v-if="!loaded"></div>
            <div id="not-found" v-if="not_found && loaded">City not found! <br> Please try again.</div>

            <!-- selected forecast day info -->
            <div id="current-weather-box" v-if="is_ready">
                <div class="macro-info-box">
                    <h1 class="place">{{ city.data.name }}, {{ city.data.country }}</h1>
                    <h5 class="datetime">
                        {{ forecast_selected_day_time.weekday }}, {{ forecast_selected_day_time.datetime | datetime_to_time }}
                    </h5>
                    <h1 class="temp-box">
                        <i class="fas" v-bind:class="forecast_selected_day_time.weather_icon"></i>
                        <p class="temp">{{ forecast_selected_day_time.temp | to_int }}°C</p>
                    </h1>
                </div>
                <div class="detail-info-box">
                    <h5>Max: {{ forecast_selected_day_time.temp_max | to_int }}°</h5>
                    <h5>Min: {{ forecast_selected_day_time.temp_min | to_int }}°</h5>
                    <h5>Feels like: {{ forecast_selected_day_time.feels_like | to_int }}°</h5>
                    <h5>Humidity: {{ forecast_selected_day_time.humidity | to_int }}%</h5>
                </div>

                <div class="time-info-box">
                    <h5>Select the time</h5>
                    <div class="time-btn-box">
                        <div class="time-btn" v-bind:class="{ active: index == forecast.selected_time_index }" v-for="(forecast_data, index) in forecast_selected_day" v-on:click="forecast_time_select(index)">
                            {{ forecast_data.datetime | datetime_to_time }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- forecast days -->
            <div id="forecast-box" v-if="is_ready">
                <div class="forecast-day" v-bind:class="{ active: index == forecast.selected_day }" v-for="(forecast_data, index) in forecast.days" v-on:click="forecast_day_select(index)">
                    <p class="label">{{ forecast_data | get_forecast_attr_default_time("weekday") }}</p>
                    <i class="fas" v-bind:class="forecast_data | get_forecast_attr_default_time('weather_icon')"></i>
                    <p class="temp">
                        <span class="max-temp">{{ forecast_data | get_forecast_attr_default_time("temp_max") | to_int }}°</span>
                        <span class="min-temp">{{ forecast_data | get_forecast_attr_default_time("temp_min") | to_int }}°</span>
                    </p>
                </div>
            </div>

            <!-- rain text alert -->
            <h2 id="rain-text-alert" v-if="is_ready">
                You should take an umbrella in these days: <br>
                <keep-alive>{{ forecast.rain_days_text }}</keep-alive>
            </h2>

        </section>
    </div>

    <!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="assets/scripts/main.js"></script>
</body>

</html>