/**************************************************************** 
* IMPORTS
****************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700&display=swap');
@import url('../styles/bootstrap.min.css');
@import url('../fonts/fontawesome/css/all.min.css');

/**************************************************************** 
* DEFAULT FONT-SIZE - FOR RESPONSIVE
****************************************************************/

html {
    font-size: 62.5%;
}

.h1,
h1 {
    font-size: 4.5rem;
}

.h2,
h2 {
    font-size: 4rem;
}

.h3,
h3 {
    font-size: 3.5rem;
}

.h4,
h4 {
    font-size: 3.0rem;
}

.h5,
h5 {
    font-size: 2.5rem;
}

p,
label,
span {
    font-size: 1.55rem;
}


/**************************************************************** 
* MAIN BASE CONTENT
****************************************************************/

html {
    height: 100%;
}

body {
    background-image: url("../images/bg-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 1.55rem;
    height: 100%;
}

#scroller {
    height: 100%;
    max-width: 100%;
    overflow: auto;
}

#content {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 1.5rem;
    margin: 3.5rem auto 0;
    max-width: 1200px;
    padding: 4rem 4.0rem;
    width: 90%;
}


/**************************************************************** 
* CITY SEARCH INPUT
****************************************************************/

#city-input-box {
    width: 70%;
    margin: 2rem auto 6rem;
    position: relative;
}

#city-input {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 1.0rem;
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    height: 5.7rem;
    /* margin: 2rem auto 8rem; */
    outline: none;
    padding: 0.6rem 0 0;
    text-align: center;
    text-transform: capitalize;
    transition: background-color 0.5s ease;
    width: 100%;
}

#city-input:focus {
    background: rgba(255, 255, 255, 1);
}

.pulse {
    animation: pulse 2s infinite;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 8);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    70% {
        box-shadow: 0 0 0 1.0rem rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

#city-input-box .auto-complete-list {
    list-style: none;
    background: #fff;
    width: 100%;
    position: absolute;
    border-radius: 1.0rem;
    margin-top: 0.5rem;
    padding: 0;
}

#city-input-box .auto-complete-list li {
    padding: 1.1rem 3.5rem 0.8rem;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

#city-input-box .auto-complete-list li:hover,
#city-input-box .auto-complete-list li.hover {
    background: rgba(0, 0, 0, 0.2)
}


/**************************************************************** 
* CURRENT WEATHER
****************************************************************/

#current-weather-box {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}


/* Macro info box */

#current-weather-box .macro-info-box {
    flex: 1 0 33.3333333%;
    padding-left: 2.0rem;
}

#current-weather-box .macro-info-box .place {
    text-transform: capitalize;
}

#current-weather-box .macro-info-box .temp-box {
    display: flex;
}

#current-weather-box .macro-info-box .temp-box i {
    font-size: 6.5rem;
}

#current-weather-box .macro-info-box .temp-box .temp {
    font-size: 8.5rem;
    line-height: 8.8rem;
    padding-left: 2rem;
}


/* Detail info box */

#current-weather-box .detail-info-box {
    flex: 1 0 33.3333333%;
    text-align: center;
}

#current-weather-box .detail-info-box h5 {
    margin-bottom: 1.2rem;
}


/* Time info box */

#current-weather-box .time-info-box {
    flex: 1 0 33.3333333%;
    margin-bottom: 2rem;
    text-align: center;
}

#current-weather-box .time-info-box .time-btn-box {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#current-weather-box .time-info-box .time-btn-box .time-btn {
    background: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease;
    border-radius: 0.6rem;
    color: #000;
    cursor: pointer;
    font-weight: 500;
    margin: 0.4rem;
    margin-bottom: 1.0rem;
    padding: 0.5rem 1.0rem 0.2rem;
    text-align: center;
}

#current-weather-box .time-info-box .time-btn-box .time-btn.active,
#current-weather-box .time-info-box .time-btn-box .time-btn:hover {
    background: #fff;
}


/**************************************************************** 
* FORECAST
****************************************************************/

#forecast-box {
    align-items: center;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 0;
    width: 100%;
}

#forecast-box .forecast-day {
    font-size: 1.7rem;
    padding: 1rem 3.0rem 0;
    margin: 0 0.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 1.2rem;
    transition: background-color 0.3s ease;
}

#forecast-box .forecast-day.active {
    background: rgba(255, 255, 255, 0.2);
}

#forecast-box .forecast-day:hover {
    background: rgba(255, 255, 255, 0.2);
}

#forecast-box .forecast-day .label,
#forecast-box .forecast-day .temp span {
    font-size: 2.6rem;
    margin-bottom: 0.5rem;
}

#forecast-box .forecast-day i {
    font-size: 9rem;
    padding-bottom: 2rem;
}

#forecast-box .forecast-day .max-temp,
#forecast-box .forecast-day .min-temp {
    padding: 0 0.8rem;
}


/**************************************************************** 
* RAIN TEXT ALERT
****************************************************************/

#rain-text-alert {
    color: #fff;
    font-size: 4.0rem;
    text-align: center;
}


/**************************************************************** 
* LOADING
****************************************************************/

#loading {
    background: url(../images/loading.svg);
    width: 12.0rem;
    height: 12.0rem;
    margin: 22rem auto;
    background-position: center;
    background-size: contain;
}


/**************************************************************** 
* BG ANIMATION
****************************************************************/


/* preload images */

body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("../images/bg-1.jpg") url("../images/bg-2.jpg");
}

@keyframes bgswap {
    0% {
        background-image: url("../images/bg-1.jpg");
    }
    50% {
        background-image: url("../images/bg-1.jpg");
    }
    55% {
        background-image: url("../images/bg-2.jpg");
    }
    95% {
        background-image: url("../images/bg-2.jpg");
    }
    100% {
        background-image: url("../images/bg-1.jpg");
    }
}

body {
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-animation-duration: 40s;
    -moz-animation-duration: 40s;
    -o-animation-duration: 40s;
    -ms-animation-duration: 40s;
    animation-duration: 40s;
    -webkit-animation-name: bgswap;
    -moz-animation-name: bgswap;
    -o-animation-name: bgswap;
    -ms-animation-name: bgswap;
    animation-name: bgswap;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
}


/**************************************************************** 
* RESPONSIVE
****************************************************************/

@media only screen and (max-width: 1100px) {
    html {
        font-size: 50%;
    }
}

@media only screen and (max-width: 920px) {
    html {
        font-size: 45%;
    }
    #city-input {
        width: 80%;
    }
    #current-weather-box .macro-info-box .temp-box i {
        font-size: 7.5rem;
    }
    #current-weather-box .time-info-box .time-btn-box .time-btn {
        padding: 1rem 1.2rem 0.4rem;
    }
}

@media only screen and (max-width: 770px) {
    html {
        font-size: 40%;
    }
    #city-input {
        height: 6.7rem;
        width: 100%;
    }
    #current-weather-box .macro-info-box .temp-box i {
        font-size: 8.5rem;
    }
}

@media only screen and (max-width: 690px) {
    .detail-info-box {
        padding-bottom: 2rem;
        padding-right: 2.0rem;
        text-align: right !important;
    }
    #forecast-box .forecast-day {
        flex: 1 1 33.3333333%;
    }
}

@media only screen and (max-width: 500px) {
    #content {
        border-radius: 0;
        margin-top: 0;
        min-height: 100%;
        width: 100%;
    }
}